<div class="blog-most-popular">
    <div class="column is-full">
        <div class="columns">
            <div class="blog-most-popular--image column is-6">
                <img srcset="../img/blog/most-popular-thumb-placeholder.jpg 1x, ../img/blog/most-popular-thumb-placeholder@2x.jpg 2x" src="../img/blog/most-popular-thumb-placeholder.jpg" alt="placeholder" />
            </div>
            <div class="blog-most-popular--content column is-6">
                <date>June 30th, 2020</date>
                <h5>h5 (Cards)</h5>
                <p class="excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit ...</p>
            </div>
        </div>
    </div>
</div>
