<div class="blog-most-popular">
    <div class="column is-full">
        <div class="columns is-mobile">
            <div class="blog-most-popular--image column is-6">
                <figure class="image">
                    <img srcset="../img/blog/most-popular-thumb-placeholder.jpg 1x, ../img/blog/most-popular-thumb-placeholder@2x.jpg 2x" src="../img/blog/most-popular-thumb-placeholder.jpg" alt="placeholder" />
                </figure>
            </div>
            <div class="blog-most-popular--content column is-6">
                <date>June 30th, 2020</date>
                <h5>Lorem ipsum dolor</h5>
                <p class="excerpt is-hidden-mobile">Lorem ipsum dolor sit amet consectetur adipisicing elit ...</p>
            </div>
        </div>
    </div>
</div>
