<footer class="has-black-bg">
    <div class="column is-full">
        <div class="columns">
            <div class="column"><img src="./img/logo_rafael-tome-white.svg" alt="Rafael Tome"></div>
            <div class="column">
                <h4>Work</h4>
                <a href="#">all work</a><br />
                <a href="#">illustration</a>
            </div>
            <div class="column">
                <h4>Resources</h4>
                <a href="#">downloads</a><br />
                <a href="#">blog</a>
            </div>
            <div class="column">
                <h4>Connect</h4>
                <a href="#">about</a><br />
                <a href="#">contact</a>
            </div>
            <div class="column has-text-right">

                <ul class="social">

                    <li><a href="https://www.instagram.com/eavel/" target="_blank">
                            <img src="./img/icon_instagram.svg" alt="instagram" width="30px" height="30px">
                        </a></li>

                    <li><a href="#" target="_blank">
                            <img src="./img/icon_youtube.svg" alt="youtube" width="30px" height="30px">
                        </a></li>

                    <li><a href="https://www.behance.net/rafaeltome" target="_blank">
                            <img src="./img/icon_behance.svg" alt="behance" width="30px" height="30px">
                        </a></li>

                    <li><a href="https://www.linkedin.com/in/rafaeltome" target="_blank">
                            <img src="./img/icon_linkedin.svg" alt="linkedin" width="30px" height="30px">
                        </a></li>

                    <li><a href="https://www.facebook.com/rafaeltome90" target="_blank">
                            <img src="./img/icon_facebook.svg" alt="facebook" width="30px" height="30px">
                        </a></li>

                </ul>

            </div>
        </div>
    </div>
    <div class="column is-full">
        <p>All content &copy; 2010-Current Rafael Tome and respective copyright holders.</p>
    </div>
</footer>
