<footer class="level">
    <div class="level-left">
        <div class="level-item">
            <p>Rafael Tom&eacute; &copy; All Rights Reserved</p>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <div class="social">
                <a href="https://www.behance.net/rafaeltome" target="_blank">
                    <i class="fab fa-behance"></i>
                </a>
                <a href="https://www.facebook.com/rafaeltome90" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.pinterest.com/rafaeltome90/" target="_blank">
                    <i class="fab fa-pinterest"></i>
                </a>
                <a href="https://www.instagram.com/eavel/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://github.com/eavel" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/rafaeltome" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
