<footer class="has-black-bg">
    <div class="column">
        <div class="columns is-mobile is-multiline">
            <div class="column is-full-mobile is-narrow-tablet"><img src="./img/logo_rafael-tome-white.svg" alt="Rafael Tome"></div>
            <div class="column is-narrow is-4-mobile is-offset-1-desktop">
                <h4>Work</h4>
                <a href="../work.html">all work</a><br />
                <a href="#">illustration</a>
            </div>
            <div class="column is-narrow is-8-mobile">
                <h4>Resources</h4>
                <a href="#">downloads</a><br />
                <a href="../blog.html">blog</a>
            </div>
            <div class="column is-narrow is-4-mobile">
                <h4>Connect</h4>
                <a href="../about.html">about</a><br />
                <a href="../contact.html">contact</a>
            </div>
            <div class="column is-8-mobile has-text-right-desktop">

                <ul class="social">

                    <li><a href="https://www.instagram.com/eavel/" target="_blank">
                            <img src="./img/icon_instagram.svg" alt="instagram" width="30px" height="30px">
                        </a></li>

                    <li><a href="#" target="_blank">
                            <img src="./img/icon_youtube.svg" alt="youtube" width="30px" height="30px">
                        </a></li>

                    <li><a href="https://www.behance.net/rafaeltome" target="_blank">
                            <img src="./img/icon_behance.svg" alt="behance" width="30px" height="30px">
                        </a></li>

                    <li><a href="https://www.linkedin.com/in/rafaeltome" target="_blank">
                            <img src="./img/icon_linkedin.svg" alt="linkedin" width="30px" height="30px">
                        </a></li>

                    <li><a href="https://www.facebook.com/rafaeltome90" target="_blank">
                            <img src="./img/icon_facebook.svg" alt="facebook" width="30px" height="30px">
                        </a></li>

                </ul>

            </div>
        </div>
    </div>
    <div class="column is-full">
        <p>All content &copy; 2010-Current Rafael Tome and respective copyright holders.</p>
    </div>
</footer>
