<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN9RTQ2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<header>
    <div class="logo">
        <a href="./home.html">
            <img src="../img/logo_rafael-tome.svg">
        </a>
    </div>

    <div class="fat-nav">
        <a href="./home.html" class="logo">
            <div class="logoImg"><img src="../img/logo_rafael-tome-white.svg"></div>
        </a>

        <div class="social-overlay">

            <a href="//www.instagram.com/lets.go.tome/" target="_blank">
                <img src="../img/icon_instagram.svg" alt="instagram" width="30px" height="30px">
            </a>

            <a href="//www.youtube.com/channel/UC7GjMM92xLs_iHblxDj5lsg" target="_blank">
                <img src="../img/icon_youtube.svg" alt="youtube" width="30px" height="30px">
            </a>

            <a href="//www.behance.net/rafaeltome" target="_blank">
                <img src="../img/icon_behance.svg" alt="behance" width="30px" height="30px">
            </a>

            <a href="//www.linkedin.com/in/rafaeltome" target="_blank">
                <img src="../img/icon_linkedin.svg" alt="linkedin" width="30px" height="30px">
            </a>

            <a href="//www.facebook.com/rafaeltome90" target="_blank">
                <img src="../img/icon_facebook.svg" alt="facebook" width="30px" height="30px">
            </a>

        </div>

        <div class="fat-nav__wrapper">
            <ul>
                <li>
                    <a href="../home.html">home</a>
                </li>
                <li>
                    <a href="../work.html">work</a>
                </li>
                <li>
                    <a href="../about.html">about</a>
                </li>
                <li>
                    <a href="../blog.html">blog</a>
                </li>
                <li>
                    <a href="../contact.html">contact</a>
                </li>
                <li>
                    <a href="../resources.html">resources</a>
                </li>
                <li>
                    <a href="../illustration.html">illustration</a>
                </li>
            </ul>
        </div>
    </div>
</header>
