<header>
    <div class="logo">
        <a href="./home.html">
            <img src="../img/logo_rafael-tome.svg">
        </a>
    </div>

    <div class="fat-nav">
        <a href="./home.html" class="logo">
            <div class="logoImg"><img src="../img/logo_rafael-tome-white.svg"></div>
        </a>

        <div class="social-overlay">
            <a href="https://www.behance.net/rafaeltome" target="_blank">
                <i class="fab fa-behance"></i>
            </a>
            <a href="https://www.facebook.com/rafaeltome90" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.pinterest.com/rafaeltome90/" target="_blank">
                <i class="fab fa-pinterest"></i>
            </a>
            <a href="https://www.instagram.com/eavel/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/eavel" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/rafaeltome" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>

        <div class="fat-nav__wrapper">
            <ul>
                <li>
                    <a href="./home.html">home</a>
                </li>
                <li>
                    <a href="./work.html">work</a>
                </li>
                <li>
                    <a href="./about.html">about</a>
                </li>
                <li>
                    <a href="./blog.html">blog</a>
                </li>
                <li>
                    <a href="./contact.html">contact</a>
                </li>
                <li>
                    <a href="./resources.html">resources</a>
                </li>
                <li>
                    <a href="./illustration.html">illustration</a>
                </li>           
            </ul>
        </div>
    </div>
</header>
