 <section class="has-grey-bg">
     <div class="container">
         <div class="column">
             <div class="columns">
                 <div class="column is-6">

                     <h3 class="underline">keep your inbox interesting</h3>
                     <p>Join my personal email list and get firsthand stories and tips about my creative process. I promise I won’t keep nagging you that many times unless it’s something very interesting. Want to know more before you sign up? <a href="#">Read this</a>.</p>

                     <!-- <div class="field">
                         <div class="control">
                             <input class="input is-large" type="text" placeholder="your name">
                         </div>
                     </div>

                     <div class="field">
                         <div class="control">
                             <input class="input is-large" type="text" placeholder="your email address">
                         </div>
                        </div>

                     <div class="field">
                         <div class="control">
                             <button class="button is-black is-large">subscribe</button>
                         </div>
                     </div> -->

                     <div class="formio-form--wrap">
                         <script src="//unpkg.com/formiojs@latest/dist/formio.embed.js?src=https://fuwdkfsfnpfnjmm.form.io/newslettersignup"></script>
                     </div>

                     <p class="note">This form collects your name and email so we can add you to our email list and send you our wonderful newsletter full of helpful insights and updates from the shop. Read our privacy policy to understand how we protect and manage your data.</p>
                 </div>

                 <div class="column is-6">
                     <img src="../img/keep-your-inbox-interesting.gif" alt="Keep your inbox interesting">
                 </div>
             </div>
         </div>
     </div>
 </section>