.kind-words {
    color: $white;

    .quote {
        margin-bottom: 4rem;
        font-weight: 700;
        font-size: 1.25rem;
        font-style: italic;
    }

    .name {
        font-weight: 700;
        font-size: 1.75rem;
    }

    .company {
        font-weight: 700;
        font-size: 1.25rem;
        color: $brand-black;
    }

}