.portfolio-area {
    padding: 2rem;
}

.portfolio-list {
    padding: 0;
    margin: 0;

    .portfolio-item {
        list-style: none;

        &__content-wrap {
            position: relative;
            overflow: hidden;
            top: 0;
            height: 100%;
            width: 100%;

            &:before {
                padding-top: 15rem;
                display: block;
                content: "";
            }
        }

        &__content {
            transition: all .1s ease;
            display: none;
            visibility: hidden;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-end;
            padding: 1.5rem;
            position: relative;
            z-index: 2;
            color: #fff;
            background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .5) 60%);

            &__inner {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                h3 {
                    font-size: 1rem;
                    margin: 0;
                    padding: 0;
                }

                .field-list {
                    font-size: 0.75rem;

                    span {
                        font-style: italic;

                    }
                }
            }
        }

        &__image {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            transition: all 1s ease;
        }

        &:hover {
            .portfolio-item {

                &__content {
                    display: block;
                    visibility: visible;
                }

                &__image {
                    transform: scale(1.05);
                }
            }
        }
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }
}
