// blog listing
.blog {

    // blog global
    date {
        font-weight: 100;
        color: $brand-grey;
        font-size: 1rem;
    }

    .badge {
        position: absolute;
        top: -0.625rem;
        right: 1.25rem;
        z-index: 1;
        background-color: $brand-black;
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.25rem;
        padding: 0.625rem 1.25rem;
    }

    .card {
        height: 100%;

        .card-image {
            img {
                min-width: 100%;
            }
        }

        .card-content {
            h5 {
                margin-bottom: 1rem;
            }

            .excerpt {
                margin-bottom: 3rem;
                font-size: 1.125rem;
            }

            a {
                &.read-more {
                    position: absolute;
                    bottom: 1.5rem;
                    left: 1.5rem;
                    margin-top: 1.5rem;

                    color: $brand-red;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .level {
        margin-top: 2.25rem;
        margin-bottom: 1rem;
    }
}

// most popular
.blog-most-popular {
    margin-bottom: 1.5rem;
    box-shadow: rgba(46, 46, 45, 0.1) 0px 0.5em 1em -0.125em, rgba(46, 46, 45, 0.02) 0px 0px 0px 1px;

    &--image {
        padding: 0;
        margin: 0;
        img {
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }

    &--content {
        .excerpt {
            font-weight: 100;
            font-size: 1.125rem;
        }
    }
}

// blog detail
.blog-article {
    .image {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
}