/* Blog */

.blog {
    h1 {
        font-size: 3rem;
        font-weight: 900;
    }
}

.blog-header {
    text-align: center;
    margin-bottom: 2rem;

    p {
        font-weight: lighter;
        font-size: 1.875rem;
    }
}

.blog-article-intro,
.blog-article {
    img {
        max-width: 100%;
        height: auto;
    }
}

.blog-article {
    img {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.blog-footer {
    a {
        text-decoration: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.blog-article-intro {
    border-bottom: 1px solid $brand-black;
}

.blog-article-intro,
.blog-article {
    h2 {
        font-weight: 700;
        text-transform: none;
        font-size: 2.25rem;
        margin-bottom: 0.875rem;
    }

    p {
        font-weight: lighter;
        font: 1.25rem;

        &.date {
            font-size: 1rem;
            text-transform: uppercase;
            margin-top: 1rem;
        }
    }

    a {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.875rem;
        color: $brand-red;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    margin-bottom: 2rem;
}

.blog-footer {
    text-align: center;

    h3 {
        font-size: 3rem;
        font-weight: 800;
    }
}
