footer {
    padding: 1rem 2rem;
    font-size: 0.75rem;

    a {
        text-decoration: none;
        color: inherit;
    }

    .social {
        text-align: right;
        font-size: 1rem;

        a {
            margin-right: 0.625rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
