footer {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    font-size: 1rem;

    color: $brand-grey;

    h4 {
        font-weight: lighter;
        font-size: 1.125rem;
    }

    a {
        color: $white;
        font-weight: 700;
        font-size: 1.25rem;
    }

    .footer-logo {
        @include desktop {
            margin-right: 9rem;
        }
    }
}