/* typography */

body {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.375rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &.underline {
        display: inline-block;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 3.125rem;
            height: 3px;
            bottom: 0;
            left: 0;
            border-bottom: 3px solid $brand-red;
        }
    }
}

h1 {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 700;
    font-size: 3.375rem;
}

h2 {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
}

h4 {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

h5 {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
}

/* body cards
font-family: Futura PT, Arial, sans-serif; 
font-weight: bold; 
font-size: 1.125rem;
 */

/* button text
 font-family: Futura PT, Arial, sans-serif; 
 font-weight: bold; 
 font-size: 1.25rem;
 */

/* spacing */

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* colours */

.is-black {
    color: $brand-black;
}

.is-grey {
    color: $brand-grey;
}

.is-red {
    color: $brand-red;
}

.is-dark-red {
    color: $brand-dark-red;
}

.is-yellow {
    color: $brand-yellow;
}

.is-white {
    color: $white;
}

/* backgrounds */

.has-yellow-bg {
    background-color: $brand-yellow;
}

.has-red-bg {
    background-color: $brand-red;
    color: $white;

    a {
        font-weight: 700;
        text-decoration: underline;
        color: $white;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &.underline {

            &:before {
                border-bottom: 3px solid $brand-black;
            }
        }
    }
}

.has-grey-bg {
    background-color: $brand-grey;
}

.has-black-bg {
    background-color: $brand-black;
}

// Helpers
.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

// Social 
.social {
    li {
        display: inline-block;
        margin-right: 1rem;
    }
}

// Slick dots
.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;

    li {
        margin: 0 0.25rem;
    }

    button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;

        border: none;
        border-radius: 100%;
        background-color: $brand-black;

        text-indent: -9999px;
    }

    li.slick-active button {
        background-color: $brand-red;
    }
}