/* typography */

body {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.375rem;
    color: $brand-black;
}

hgroup {
    h1 {
        line-height: 4rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &.subheading {
        font-size: 1.25rem;
        color: $brand-red;
    }

    &.underline {
        display: inline-block;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 3.125rem;
            height: 3px;
            bottom: 0;
            left: 0;
            border-bottom: 3px solid $brand-red;
        }

        &.center {
            &:before {
                left: 50%;
                // need to minus 3.125rem (width)
            }
        }
    }
}

h1 {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 700;
    font-size: 3.375rem;
}

h2 {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
}

h4 {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

h5 {
    font-family: Futura PT, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
}

/* body cards
font-family: Futura PT, Arial, sans-serif; 
font-weight: bold; 
font-size: 1.125rem;
 */

/* button text
 font-family: Futura PT, Arial, sans-serif; 
 font-weight: bold; 
 font-size: 1.25rem;
 */

a {
    color: $brand-black;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &.button {
        text-decoration: none;
        padding: 1.5rem 2rem;
        font-size: 1.375rem;
    }
}

p {
    margin-bottom: 1rem;
}

/* spacing */

section {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

/* colours */

.is-black {
    color: $brand-black;
}

.is-grey {
    color: $brand-grey;
}

.is-red {
    color: $brand-red;
}

.is-dark-red {
    color: $brand-dark-red;
}

.is-yellow {
    color: $brand-yellow;
}

.is-white {
    color: $white;
}

/* backgrounds */

.has-yellow-bg {
    background-color: $brand-yellow;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &.underline {

            &:before {
                border-bottom: 3px solid $brand-red;
            }
        }
    }

    // testimonials
    .kind-words {
        color: $brand-black;

        .company {
            color: $brand-red;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: left;
    }

    li.slick-active button {
        background-color: $brand-red !important;
    }
}

.has-red-bg {
    background-color: $brand-red;
    color: $white;

    a {
        font-weight: 700;
        text-decoration: underline;
        color: $white;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &.underline {

            &:before {
                border-bottom: 3px solid $brand-black;
            }
        }
    }

    // testimonials
    .kind-words {
        color: $white;

        .company {
            color: $brand-black;
        }

    }
}

.has-grey-bg {
    background-color: $brand-grey;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &.underline {

            &:before {
                border-bottom: 3px solid $white;
            }
        }
    }
}

.has-black-bg {
    background-color: $brand-black;
}

// Helpers
.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

//margin
.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lead {
    font-weight: 700;
    font-size: 2rem;

    a {
        color: $brand-red;
    }
}

.note {
    font-size: 1.125rem;
}

// Social 
.social {
    li {
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}


// testimonials
.kind-words {

    .quote {
        margin-bottom: 2rem;
        font-weight: 700;
        font-size: 1.25rem;
        font-style: italic;
    }

    .name {
        font-weight: 700;
        font-size: 1.75rem;
        margin-bottom: 0;
    }

    .company {
        font-weight: 700;
        font-size: 1.25rem;
    }
}


// Slick dots
.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;

    li {
        margin: 0 0.25rem;
    }

    button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: $brand-black;
        text-indent: -9999px;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

    li.slick-active button {
        background-color: $white;
    }
}