header {
    position: sticky;
    top: 0;
    padding: 1rem .75rem;
    background-color: $white;
    z-index: 10;
}

.logo {
    img {
        max-width: 220px;
        height: 50px;
    }

    .logoImg {
        width: 220px;
        position: fixed;
        top: 1rem;
        left: 0.75rem;
        z-index: 2;
    }
}

// fatNav
.hamburger {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: $brand-red;
    top: 1rem;
    right: .75rem;
    z-index: 101;
    padding: 12px;
    box-sizing: border-box;
    touch-action: manipulation;


    .hamburger__icon {
        position: relative;
        margin-top: 12px;
        margin-bottom: 7px;
        display: block;
        width: 25px;
        height: 2px;
        background-color: $white;
        transition-property: background-color, transform;
        transition-duration: 0.4s;

        &:before,
        &:after {
            position: absolute;
            content: "";
            display: block;
            width: 25px;
            height: 2px;
            background-color: $white;
            transition-property: background-color, transform;
            transition-duration: 0.4s;
        }

        &:before {
            top: -7px;
        }

        &:after {
            top: 7px;
        }
    }

    &.active {
        background-color: $brand-black;

        .hamburger__icon {
            background-color: transparent;

            &:before,
            &:after {
                background-color: #fff;
            }

            &:before {
                transform: translateY(7px) rotate(45deg);
            }

            &:after {
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }

    &:after {
        content: 'menu';
        font-size: 1.125rem;
        text-decoration: none;
        position: relative;
        top: -25px;
        left: -65px;
    }

    &.active {
        &:after {
            content: 'close';
            color: $white;
        }
    }
}

.fat-nav {
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: $brand-red;
    transform: scale(1.4);
    transition-property: transform;
    transition-duration: 0.4s;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    &__wrapper {
        width: 100%;
        height: 100%;
        display: table;
        table-layout: fixed;
    }

    &.active {
        transform: scale(1);
    }

    ul {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            text-align: left;
            padding: 0.625rem 1.25rem;
            font-size: 2em;
            color: $white;

            a {
                color: $white;
                text-decoration: none;
                font-weight: 700;

                &:hover {
                    color: $brand-black;
                }
            }
        }
    }
}

// Social Overlay
.social-overlay {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 2;
    text-align: right;
    font-size: 1rem;

    a {
        margin-right: 0.625rem;
        color: #fff;
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
    }
}
