.ugly-mug,
.scroll-down {
    display: none;
    visibility: hidden;

    @include desktop {
        display: flex;
        visibility: visible;
    }

    .description {
        h1 {
            font-size: 2rem;
            line-height: 2.25rem;
            color: $brand-black;
        }

        p {
            font-weight: 100;
            font-size: 1.25rem;
        }
    }
}

.mobile_scroll-down {
    @include desktop {
        display: none;
        visibility: hidden;
    }
}

.scroll-down,
.mobile_scroll-down {
    justify-content: center;
}

.face {
    width: 1040px;
    height: 600px;
    position: relative;
    margin: 0 auto;

    a {
        text-decoration: none;
    }

    p {
        &.button {
            text-decoration: none;
            padding: 1.5rem 2rem;
            font-size: 1.375rem;
            font-weight: 700;
        }
    }



    .coder {
        width: 520px;
        height: 600px;
        top: 0px;
        position: absolute;
        text-align: left;
        right: 0px;

        .description {
            position: absolute;
            top: 80px;
            width: 320px;
            right: 0px;
        }

        .arrow {
            width: 85px;
            height: 140px;
            background: url(../img/sprite.png) no-repeat;
            display: block;
            position: absolute;
            top: 20px;
            right: 0px;
            background-position: 0px -751px;
        }
    }

    .designer {
        width: 520px;
        height: 600px;
        top: 0px;
        position: absolute;
        left: 0px;

        .description {
            position: absolute;
            top: 80px;
            width: 320px;
            left: 0px;
        }

        .arrow {
            width: 85px;
            height: 140px;
            background: url(../img/sprite.png) no-repeat;
            display: block;
            position: absolute;
            top: 20px;
            left: 0px;
            background-position: 0px -892px;
        }
    }

    .designer-img {
        width: 420px;
        height: 600px;
        position: absolute;
        top: 0;
        background: url('../img/sprite-home.png') 0 0 no-repeat;
        display: block;
        z-index: 1;
        background-position: 0px -600px;
        left: 100px;
    }

    .coder-img {
        width: 420px;
        height: 600px;
        position: absolute;
        top: 0;
        background: url('../img/sprite-home.png') 0 0 no-repeat;
        display: block;
        z-index: 1;
        background-position: 100% 0px;
        right: 100px;
    }

    .designer-bg {
        width: 420px;
        height: 200px;
        position: absolute;
        bottom: 0px;
        background: url('../img/sprite-home.png') 0 -1300px no-repeat;
        display: block;
        left: 100px;
    }

    .coder-bg {
        width: 420px;
        height: 200px;
        position: absolute;
        bottom: 0px;
        background: url('../img/sprite-home.png') 0 -1300px no-repeat;
        display: block;
        right: 100px;
        background-position: 100% -1300px;
    }

    .face-img {
        display: none;
    }
}


// mobile version 
.mobile_i-am-rafa {
    height: 100vh;
    padding: 0;
    background-image: url('../img/i-am-rafa.jpg');
    background-image: -webkit-image-set(url(../img/i-am-rafa.jpg) 1x, url(../img/i-am-rafa@2x.jpg) 2x);
    background-repeat: no-repeat;
    background-size: cover;

    @include desktop {
        display: none;
        visibility: hidden;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        text-align: center;
    }

    p {
        font-weight: 100;
        font-size: 1rem;
    }

    a {
        &.button {
            font-size: 1rem;
        }
    }
}

.partners-logo {
    padding: 1rem;
}

.instagram-feed {
    .overlay {

        &--text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: background-color 100ms linear;

            p {
                display: none;
                visibility: hidden;
                color: $white;

                span {
                    font-weight: 700;
                    color: $brand-dark-red;
                }
            }

            &:hover {
                background-color: rgba($brand-black, 0.9);

                p {
                    visibility: visible;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    padding: 1.25rem;
                    text-align: center;
                    margin: 0;
                }

            }
        }
    }
}