// Colours 
$brand-black: #2E2E2D;
$brand-grey:#8C8C8C;
$brand-red: #F25757;
$brand-dark-red: #8C0808;
$brand-yellow: #FFF8ED;

$white: #fff;
$black: #2E2E2D;

// Bulma Variables
$column-gap: 1.25rem;

// Form
$radius: 0;