// behance project thumbnail 
.projects {
    .overlay {

        &--text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            p {
                display: none;
                visibility: hidden;
                color: $white;

                span {
                    font-weight: 700;
                    color: $brand-dark-red;
                }
            }

            &:hover {
                background-color: rgba($color: $brand-red, $alpha: 0.9);

                p {
                    visibility: visible;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    padding: 1.25rem;
                    text-align: center;
                }
            }
        }
    }

}

// behance project description 

.module-title {
    h1 {
        line-height: 3.75rem;
    }
}

.module-client {
    h2 {
        font-size: 1.25rem;
        color: $brand-red;
    }
}

.module-credits {
    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.125rem;
        font-weight: 100;
    }

    p {  font-size: 1.25rem;
        font-weight: 700;}
}

.module-url {}


// remove?
// .module-fields {
//     ul {
//         padding: 1.25rem 2.5rem;

//         li {
//             list-style-type: disc;
//         }
//     }
// }
